USE [master]
GO
/****** Object:  Database [ADA7C3624EF040809F43392999CC9941_\[LITTLEPONYCORPORATION]]LISTOFUSERS\[LITTLEPONY]]LISTOFUSERS.ASP.NET\APP_DATA\LOCALDBAPPDATA.MDF]    Script Date: 21.05.2016 16:29:27 ******/
CREATE DATABASE [ADA7C3624EF040809F43392999CC9941_\[LITTLEPONYCORPORATION]]LISTOFUSERS\[LITTLEPONY]]LISTOFUSERS.ASP.NET\APP_DATA\LOCALDBAPPDATA.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LocalDBAppData', FILENAME = N'C:\Users\Галактион\Downloads\TASK10\[LittlePonyCorporation]ListOfUsers\[LittlePony]ListOfUsers.ASP.NET\App_Data\LocalDBAppData.mdf' , SIZE = 3712KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LocalDBAppData_log', FILENAME = N'C:\Users\Галактион\Downloads\TASK10\[LittlePonyCorporation]ListOfUsers\[LittlePony]ListOfUsers.ASP.NET\App_Data\LocalDBAppData_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADA7C3624EF040809F43392999CC9941_\[LITTLEPONYCORPORATION]]LISTOFUSERS\[LITTLEPONY]]LISTOFUSERS.ASP.NET\APP_DATA\LOCALDBAPPDATA.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADA7C3624EF040809F43392999CC9941_\[LITTLEPONYCORPORATION]]LISTOFUSERS\[LITTLEPONY]]LISTOFUSERS.ASP.NET\APP_DATA\LOCALDBAPPDATA.MDF]
GO
/****** Object:  Table [dbo].[Authentication]    Script Date: 21.05.2016 16:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authentication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL DEFAULT ((2)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Awards]    Script Date: 21.05.2016 16:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[Title] [nvarchar](50) NOT NULL,
	[ImageId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 21.05.2016 16:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [uniqueidentifier] NOT NULL,
	[content] [varbinary](max) NOT NULL,
	[typeContent] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Relation]    Script Date: 21.05.2016 16:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relation](
	[userId] [uniqueidentifier] NOT NULL,
	[awardId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.05.2016 16:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Privilege] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.05.2016 16:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NULL,
	[BDay] [date] NOT NULL,
	[ImageId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Authentication] ON 

INSERT [dbo].[Authentication] ([Id], [Login], [Password], [RoleId]) VALUES (1, N'BigMen', N'1234567890', 1)
INSERT [dbo].[Authentication] ([Id], [Login], [Password], [RoleId]) VALUES (2, N'LittleMen', N'1234567890', 2)
INSERT [dbo].[Authentication] ([Id], [Login], [Password], [RoleId]) VALUES (3, N'gooddi', N'480130', 1)
SET IDENTITY_INSERT [dbo].[Authentication] OFF
INSERT [dbo].[Awards] ([Id], [Title], [ImageId]) VALUES (N'b01af63c-2704-46d4-b124-45351816e3d9', N'Плохой', NULL)
INSERT [dbo].[Awards] ([Id], [Title], [ImageId]) VALUES (N'e678653e-e9c3-4c11-b9cd-c40cb22afb00', N'молодец', N'5ef91563-8c0c-4b29-9f8b-2676d838c511')
INSERT [dbo].[Relation] ([userId], [awardId]) VALUES (N'b0309280-bad7-437a-91ab-1789f486a731', N'e678653e-e9c3-4c11-b9cd-c40cb22afb00')
INSERT [dbo].[Relation] ([userId], [awardId]) VALUES (N'b0309280-bad7-437a-91ab-1789f486a731', N'6d61cd33-7228-481c-b4f6-96e685ede9fa')
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Privilege]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id], [Privilege]) VALUES (2, N'AnotherUser')
SET IDENTITY_INSERT [dbo].[Role] OFF
INSERT [dbo].[Users] ([Id], [Surname], [Name], [SecondName], [BDay], [ImageId]) VALUES (N'e2bf3a4f-58cb-4f9c-8c96-0400b863fcd9', N'Семенова', N'Виктория', N'Николаевна', CAST(N'2000-01-01' AS Date), N'a8c1dca8-3ed9-438a-9311-839c4fc146b2')
INSERT [dbo].[Users] ([Id], [Surname], [Name], [SecondName], [BDay], [ImageId]) VALUES (N'b0309280-bad7-437a-91ab-1789f486a731', N'Петров', N'Степан', N'Сергеевич', CAST(N'1989-03-01' AS Date), N'b811878c-707a-4d0b-ab6a-eaed38444b85')
INSERT [dbo].[Users] ([Id], [Surname], [Name], [SecondName], [BDay], [ImageId]) VALUES (N'41f48959-35d7-410b-ada3-2ba351cb3221', N'Поликарпов', N'Степан', N'Михайлович', CAST(N'2000-01-01' AS Date), NULL)
ALTER TABLE [dbo].[Authentication]  WITH CHECK ADD  CONSTRAINT [FK_Authentication_ToAuthentication] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Authentication] CHECK CONSTRAINT [FK_Authentication_ToAuthentication]
GO
ALTER TABLE [dbo].[Relation]  WITH NOCHECK ADD  CONSTRAINT [FK_Relation_ToAwards] FOREIGN KEY([awardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[Relation] CHECK CONSTRAINT [FK_Relation_ToAwards]
GO
ALTER TABLE [dbo].[Relation]  WITH NOCHECK ADD  CONSTRAINT [FK_Relation_ToUsers] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Relation] CHECK CONSTRAINT [FK_Relation_ToUsers]
GO
USE [master]
GO
