@{
    Layout = "~/Pages/_Layout.cshtml";
}
@section exit{
    <a href="~/Pages/Index">Выйти</a>
}
<link href="~/Content/UAAStyle.css" rel="stylesheet" /><!--    
--><button class="user-and-awards user-and-awords-style" id="AllUsers" name="allusers">Все пользователи</button><!--
--><button class="user-and-awards user-and-awords-style" id="AddUser">Добавить пользователя</button><!--
--><button class="user-and-awards user-and-awords-style" id="AllAwards">Все награды</button><!--
--><button class="user-and-awards user-and-awords-style" id="AddAward">Добавить награду</button>
<button class="user-and-awards user-and-awords-style" id="Role">Изменить права пользователей</button>
<script src="~/Scripts/Script.js"></script>