<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TypeDal" value="DB"/>
    <add key="UserFilePath" value="C:\Users\Галактион\Downloads\[LittlePonyCorporation]ListOfUsers (1)\[LittlePonyCorporation]ListOfUsers\[LittlePony]ListOfUsers.UI.Console\bin\Debug\ListOfUsers\users.txt"/>
    <add key="AwardFilePath" value="C:\Users\Галактион\Downloads\[LittlePonyCorporation]ListOfUsers (1)\[LittlePonyCorporation]ListOfUsers\[LittlePony]ListOfUsers.UI.Console\bin\Debug\ListOfUsers\title.txt"/>
    <add key="RelationFilePath" value="C:\Users\Галактион\Downloads\[LittlePonyCorporation]ListOfUsers (1)\[LittlePonyCorporation]ListOfUsers\[LittlePony]ListOfUsers.UI.Console\bin\Debug\ListOfUsers\relation.txt"/>
  </appSettings>
  <connectionStrings>
    <add  name="default" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=ADA7C3624EF040809F43392999CC9941_\[LITTLEPONYCORPORATION]LISTOFUSERS\[LITTLEPONY]LISTOFUSERS.ASP.NET\APP_DATA\LOCALDBAPPDATA.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>